.logo-ls-1 {
    width: 2.5rem;
    position: relative;
    height: 3.019rem;
    object-fit: cover;
}

.lesson-study {
    position: relative;
    line-height: 3rem;
    font-family: Oleo Script;
    font-size: 3rem;
}

.logo-ls-1-parent {
    position: absolute;
    top: 3.938rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-size: 2rem;
}

.lupa-kata-sandi {
    position: relative;
    line-height: 2.5rem;
    font-weight: 600;
}

.masukkan-alamat-e-mail {
    width: 29.125rem;
    position: relative;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000;
    display: flex;
    align-items: center;
}

.lupa-kata-sandi-parent {
    position: absolute;
    top: 0rem;
    left: 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

.heading-daftar-akun {
    position: absolute;
    top: 13.438rem;
    left: 6.875rem;
    width: 29.125rem;
    height: 6rem;
    font-size: 2.25rem;
    color: #1e293b;
}

.button {
    position: absolute;
    top: 27.625rem;
    left: 6.875rem;
    border-radius: 8px;
    border: none;
    background-color: #2563eb;
    width: 35.563rem;
    height: 2.688rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 2rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.button:hover {
    background-color: #1D4ED8;
}

.ingat-kata-sandi {
    position: absolute;
    top: 34.313rem;
    left: 18.063rem;
    line-height: 1.5rem;
    color: #000;
}

.login-child {
    position: absolute;
    top: 32.781rem;
    left: 6.781rem;
    border-top: 1px solid #cbd5e1;
    box-sizing: border-box;
    width: 35.688rem;
    height: 0.063rem;
}

.label {
    position: absolute;
    width: 100%;
    top: 0rem;
    left: 0rem;
    line-height: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.placeholder {
    position: relative;
    margin: auto;
    padding: auto;
    border: none;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: transparent;
    font-size: 16px;
    width: 33.5rem;
    color: #334155;
    white-space: nowrap;
}

.placeholder::placeholder {
    color: #94a3b8;
}

.placeholder-wrapper {
    position: absolute;
    top: 0.625rem;
    left: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.input-field-inner {
    position: absolute;
    width: 100%;
    top: 1.75rem;
    right: 0rem;
    left: 0rem;
    border-radius: 8px;
    border: 1px solid #94a3b8;
    box-sizing: border-box;
    height: 2.75rem;
    overflow: hidden;
    color: #94a3b8;
    transition: 0.2s ease-in-out;
}

.input-field-inner:hover {
    border: 1px solid #3B82F6;
    box-shadow: 0 0 0 1px #3B82F6 inset;
}

.input-field-inner:focus-within {
    border: 1px solid #3B82F6;
    box-shadow: 0 0 0 1px #c7d2fe;
}

.input-field {
    position: absolute;
    top: 20.875rem;
    left: 6.875rem;
    width: 35.563rem;
    height: 4.563rem;
    color: #334155;
}

.ini-adalah-text {
    position: relative;
    line-height: 1.5rem;
    font-weight: 600;
    font-size: 1rem;
}

.ini-adalah-text:hover {
    text-decoration: underline;
    text-decoration-color: #2563eb;
}

.text-button {
    position: absolute;
    top: 34.313rem;
    left: 26.75rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: #2563eb;
}

.login {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 47.563rem;
    min-height: 64rem;
}

.image-1 {
    position: absolute;
    top: 25.938rem;
    left: 11.375rem;
    border-radius: 3px;
    width: 10.688rem;
    height: 7.25rem;
}

.psa1ttmlqiu-1-icon {
    position: absolute;
    top: 0rem;
    left: calc(50% - 6.5px);
    width: 10.563rem;
    height: 4.188rem;
    object-fit: cover;
    cursor: pointer;
}

.tersedia-juga-di {
    position: absolute;
    top: 1.313rem;
    left: calc(50% - 162.5px);
    line-height: 1.5rem;
}

.psa1ttmlqiu-1-parent {
    position: absolute;
    top: 49.125rem;
    left: calc(50% - 186.5px);
    width: 20.313rem;
    height: 4.188rem;
}

.sinkronisasi-aplikasi-mobile {
    position: absolute;
    top: 4.438rem;
    left: 11.125rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
    color: #1e293b;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19.5rem;
}

.illustrasi-sinkronisasi-icon {
    position: absolute;
    top: 9.5rem;
    left: 2.813rem;
    width: 35.875rem;
    height: 34.875rem;
    object-fit: contain;
}

.image-1-parent {
    position: absolute;
    top: 0rem;
    left: 0rem;
    background-color: #dbeafe;
    width: 42.438rem;
    min-height: 64rem;
}

.lupa-passowrd {
    min-width: 47.5625rem;
    max-width: 90rem;
    position: relative;
    min-height: 64rem;
    text-align: left;
    font-size: 1rem;
    color: #000;
    font-family: Inter;
}