body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: scroll !important;
    width: fit-content !important;
    height: fit-content !important;
}

#container {
    margin: 0;
    vertical-align: middle;
    text-align: center;
    /* Tinggi penuh viewport */
    overflow: scroll;
    /* Aktifkan scroll pada elemen ini */
    scrollbar-width: none;
    /* Firefox: Sembunyikan scrollbar */
    -ms-overflow-style: none;
    /* IE/Edge: Sembunyikan scrollbar */
    width: 90rem;
    height: 64rem;
}

/* Chrome, Safari, Opera */
#container::-webkit-scrollbar {
    display: none;
}

.docx-wrapper {
    padding: 2rem !important;
    background-color: #DBEAFE !important;
}

.docx {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2) !important;
    border-radius: 15px !important;
}

div:where(.swal2-container) {
    height: 100% !important;
    width: 100% !important;
}